<!--The content below is only a placeholder and can be replaced.
<section>
  <div class="container-fluid">
    <div class="header-background">
      <ul class="nav nav-pills justify-content-center mt-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-introduction-tab" data-toggle="pill" href="#pills-introduction" role="tab"
            aria-controls="pills-introduction" aria-selected="false">Introduction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-rganization design-tab" data-toggle="pill" href="#pills-organization design"
            role="tab" aria-controls="pills-rganization design" aria-selected="false">Organization Design</a>
        </li>
      </ul>
    </div>
    <div class="card  text-white">
      <div class="card-img">
        <div data-packed="true" style="width: 825px; pointer-events: none;" class="txtNew ghrs_text">
          <h1 class="font_4">
            <span class="color_11">
              <span class="ghrs_text_shadow">GHRS REORGANIZATION</span><br>
              <span class="play_text_shadow">PLAYBOOK</span></span></h1>
        </div>
      </div>
    </div>
    <div class="space-100"></div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="intro">
      <div class="intro-background">
        <div class="intro_img">
          <div class="container">
            <div class="space-100"></div>
            <h2>Introduction</h2>
            <h5 class="mt-4">The purpose of this playbook is to provide a project based framework that outlines<br>
              a consistent and effective process for HR activity in business reorganizations, for HR <br>
              teams to leverage in planning and executing org design projects</h5>
            <h5 class="mt-5">The Playbook will support global HR professionals by increasing understanding of:</h5>
            <ul class="intro_typical">
              <li>
                Typical HR work involved in business reorganizations and business partnerships with HR
              </li>
              <li>
                Provide clarity within HR as to how HR teams can most efficiently and <br>
                effectively partner with one another to
                deliver </li>
              <li>
                HR roles involved and which HR domains deliver which work
              </li>
              <li>
                Typical phasing and order of HR deliverables
              </li>
              <li>
                Measurement examples
              </li>
              <li>
                Locate and utilize existing tools
              </li>
              <li>
                Allow for ongoing knowledge sharing
              </li>
            </ul>
            <div class="space-100"></div>
            <div class="space-100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="space-100"></div>
  <div class="intro">
    <div class="intro-background">
      <div class="intro_partnering">
        <div class="space-50"></div>
        <div class="container-fluid">
          <h4 class="intro_partnering_header">Partnering with the Business</h4>
          <h6 class="intro_partnering_header">Recommended involvement of business stakeholders</h6>
          <div class="row">
            <div class="col ml-4 text_align">
              <div class="intro_business">
                <div class="space-30"></div>
                <i class="fas fa-user-tie fa-10x"></i>
                <h4>Business HR Leaders</h4>
                <div class="space-30"></div>
                <ul class="text-left">
                  <li>Provides strategic leadership and expertise for the business; Strategic BHR Role LT level
                    activities</li>
                  <li>Sets HR strategy and governance for all people deliverables on project</li>
                  <li>HR deliverable approver and escalation for HR barriers</li>
                  <li>Ownership & accountability for HR delivery</li>
                  <li>Communicate key implications from business strategy to the project team</li>
                  <li>Monitor progress and adjust HR functional strategy as needed to optimize performance</li>
                  <li>Provides leadership and expertise on efficient people measures</li>
                </ul>
              </div>
            </div>
            <div class="col ml-4 text_align text-white">
              <div class="space-30"></div>
              <i class="fas fa-users fa-10x"></i>
              <h4>Business Project <br> Design Team</h4>
              <div class="space-30"></div>
              <ul class="text-left">
                <li>Responsible for the project deliverables</li>
                <li>Maintains an appropriate level of stakeholder engagement throughout the various project phases</li>
                <li>Develops detailed recommendations for leadership team approval in accordance with stage gate
                  requirements</li>
                <li>Conducts analysis to support: org design, span and layers optimization as related to an op model,
                  spans and layers or org restructure business need and primarily responsible for financial modeling and
                  process for tracking value</li>
              </ul>
            </div>
            <div class="col ml-4 text_align">
              <div class="intro_business">
                <div class="space-30"></div>
                <i class="fas fa-user-friends fa-10x"></i>
                <h4>Business Leaders</h4>
                <div class="space-30"></div>
                <ul class="text-left">
                  <li>Provides leadership and expertise on efficient organizational measures, comparison to competitors
                    or internal Cargill benchmarks for business</li>
                  <li>Responsible to achieve cost/benefit value and any other key measures identified for project/team
                    success</li>
                  <div class="space-100"></div>
                  <div class="space-30"></div>
                  <div class="space-30"></div>
                </ul>
              </div>
            </div>
            <div class="col ml-4 text_align text-white">
              <div class="space-30"></div>
              <i class="fas fa-users fa-10x"></i>
              <h4>Managers</h4>
              <div class="space-30"></div>
              <ul class="text-left">
                <li>Provides strategic leadership and expertise for the business/department</li>
                <li>Recommends key deliverables for their team to Business/Function Lead</li>
                <li>Responsible for implementation of changes in team</li>
                <li>Responsible for accurate HR data for their team</li>
                <li>Responsible for partnering with Finance to track cost/benefit value and any other key measures
                  identified for project success</li>
                <li>Communication of change impacts to employee populations and individuals</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="space-100"></div>
  <div class="intro">
    <div class="intro-background">
      <div class="intro_hr">
        <div class="space-30"></div>
        <h4 class="intro_hr_header">HR Business Reorganization Project Team</h4>
        <h6 class="intro_hr_header">For every reorganization there is an HR team structure and responsibilities</h6>
        <div class="container-fluid">
          <div class="row">
            <div class="col-2 text-center">
              <div class="space-70"></div>
              <i class="fas fa-user-tie fa-9x"></i>
              <div class="space-70"></div>
              <i class="fas fa-user-friends fa-9x"></i><br>
              <div class="space-50"></div>
              <i class="fas fa-user fa-9x"></i>
            </div>
            <div class="col-4">
              <div class="space-50"></div>
              <ul>
                <li>
                  Provides strategic leadership and expertise for the business
                </li>
                <li>
                  Sets HR strategy and governance for all people deliverables on project
                </li>
                <li>
                  HR deliverable approver and escalation for HR barriers
                </li>
                <li>
                  Ownership & accountability for HR delivery
                </li>
                <li>
                  Communicate key implications from business strategy to the HR project team
                </li>
                <li>
                  Monitor progress and adjust HR functional strategy as needed to optimize performance
                </li>
                <li>
                  Could be involved in facilitating talent assessment for Macro Org
                </li>
              </ul>
              <div class="space-50"></div>
              <ul>
                <li>
                  Facilitates the Org Design Process as an experienced org design expert </li>
                <li>
                  Provides org design tools and templates for the design team
                </li>
                <li>
                  Advises the transformational approach to minimize business disruption
                </li>
              </ul>
              <div class="space-100"></div>
              <ul>
                <li>
                  Lead assignment of resources and responsibilities to meet HR objectives </li>
                <li>
                  Determine project requirements and timelines for HR work
                </li>
                <li>
                  Coordinate HR resources and manage work across HR service areas and across functions
                </li>
                <li>
                  Responsible for day to day execution, reporting and project plan
                </li>
              </ul>
            </div>
            <div class="col-6 text-center">
              <i class="fas fa-user-clock fa-10x "></i>
              <div class="space-50"></div>
              <p class="text-left">Executes HR domain expertise in the respective service areas to implement
                organization design and support employee changes</p>
              <p class="text-left">* May include partnership with IT</p>
              <p class="text-left">**Includes partnering with Corporate Affairs on communications</p>
              <div class="space-30"></div>
              <div class="text-left">
                <span class="intro_box">Pension & Benefits</span>
                <span class="intro_box intro_box_mr">HR Analytics</span>
                <span class="intro_box intro_box_mr">Talent Acquisition</span>
                <span class="intro_box intro_box_mr">Time & Attendance/Vendor</span>
                <div class="space-50"></div>
              </div>
              <div class="text-left">
                <span class="intro_box ">Employee Relations Industrial Relations</span>
                <span class="intro_box intro_box_mr">Compensation</span>
                <span class="intro_box intro_box_mr">Employee Experience</span>
                <span class="intro_box intro_box_mr">Change Management**</span>
                <div class="space-50"></div>
              </div>
              <div class="text-left">
                <span class="intro_box">HR CBS</span>
                <span class="intro_box intro_box_mr">Mobility</span>
                <span class="intro_box intro_box_mr">Payrol local HRIS/vendor</span>
                <span class="intro_box intro_box_mr">HR Global Data and Systems Updates*</span>
                <div class="space-50"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-brand">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Introduction</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Organization Design</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
