.space-100{
    height: 100px;
}
.space-50{
    height: 50px;
}
.space-30{
    height: 30px;
}
.space-70{
    height: 70px;
}
.nav-height{
    height: 80px;
}
.fixed-nav
{
    background-color: #005f86;
    background-color: #fff;
    box-shadow: 0 5px 4px 2px #313131aa;
    position: fixed;
    left: 0;
    right: 0;
    /* height: 60px; */
    z-index: 1;
}

li.nav-item {
    padding: 20px 5px;
    margin: 0px 1px;
    /* background-color: #005f86; */
}

ul.navbar-nav {
    padding: 0px;
    margin: 0px;
}

.navbar {
    padding: 0px;
}

li.nav-item:hover, li.nav-item.active {
    background-color: #005f86;
}
li.nav-item:hover a, li.nav-item.active a{
    color: #fff; 
}
