/* You can add global styles to this file, and also import other style files */

.p-space{ 
    padding: 100px 0px;
}

.bg-brand{
    background-color: #005f86;
    color: #ffffff;
}

.hide{
    display: none;
}