<!--<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/1.png" class="d-block w-100" alt="Introduction">
    </div>
  </div>
</div>-->

<div class="top_banner">
  <img src="/assets/images/banner.png" width="100%" class="hide" alt="">
  <div class="content center_text">
    <h2>GHRS REORGANIZATION</h2>
    <h2>PLAYBOOK</h2>
  </div>
</div>

<div class="container m-space">
  <div class="row"> 
    <div class="col-12">
      <h2>Introduction</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">

      <p>The purpose of this playbook is to provide a project based framework that outlines a consistent and effective
        process for HR activity in business reorganizations, for HR teams to leverage in planning and executing org
        design projects.</p>
      <div class="mt-5">
        <p><b>The Playbook will support global HR professionals by increasing understanding of:</b></p>
        <ul>
          <li>
            Typical HR work involved in business reorganizations and business partnerships with HR
          </li>
          <li>
            Provide clarity within HR as to how HR teams can most efficiently and <br>
            effectively partner with one another to
            deliver </li>
          <li>
            HR roles involved and which HR domains deliver which work
          </li>
          <li>
            Typical phasing and order of HR deliverables
          </li>
          <li>
            Measurement examples
          </li>
          <li>
            Locate and utilize existing tools
          </li>
          <li>
            Allow for ongoing knowledge sharing
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <img src="/assets/images/intro.png" alt="">
    </div>

  </div>
</div>
